<html>
    <head>
        <title>Maddie's blog</title>
    </head>
    <body>
        <div>
            <h1><a href="">Maddie's blog</a></h1>
        </div>

        {% for post in posts %}
        <div>
     <p>published: {{ post.published_date }}</p>
     <h1><a href="">{{ post.title }}</a></h1>
     <p>{{ post.text|linebreaksbr }}</p>
 </div>
        {% endfor %}
        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">My first post</a></h2>
            <p>Here is my first blog about my time spent at the Django Girls workshop. Here I was introduces to one of he most confusing yet fun skill aka coding .</p>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">My second post</a></h2>
            <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut f.</p>
        </div>
    </body>
</html>
